<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('应用列表')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/appInfoist.css}">
</head>

<body>
<div class="layui-body" style="margin: 1%">

    <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
        <input id="url-state"  type="hidden" th:value="${state}"/>
        <input id="owner" type="hidden" th:value="${owner}"/>
        <input id="source" type="hidden" th:value="${source}"/>

        <div class="layui-form-item">
            <label class="layui-form-label">应用名称</label>
            <div class="layui-input-inline">
                <input id="appName" name="appName" autocomplete="off" class="layui-input" type="text"/>
            </div>
            <!--<label class="layui-form-label app-state">应用状态</label>-->
            <!--<div class="layui-input-inline app-state">-->
            <!--<select name="state" lay-filter="aihao">-->
            <!--<option value="1">已通过</option>-->
            <!--<option value="2">待提交</option>-->
            <!--<option value="-1">未通过</option>-->
            <!--</select>-->
            <!--</div>-->
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="searchSubmit">提交</button>
            <a class="layui-btn layui-btn-sm add-btn" style="float: right;margin-right: 20px;">添加应用</a>
        </div>
    </form>

    <!--<hr class="layui-bg-blue"/>-->
    <hr class="layui-bg-gray"/>
    <!--<div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>-->
    <div class="state-btn-div">
        <button type="button" class="layui-btn layui-btn-primary state-btn" data-type="1">已通过(<span class="state-span"></span>)</button>
        <button type="button" class="layui-btn layui-btn-primary state-btn" data-type="0">待审核(<span class="state-span"></span>)</button>
        <button type="button" class="layui-btn layui-btn-primary state-btn" data-type="2">待提交(<span class="state-span"></span>)</button>
        <button type="button" class="layui-btn layui-btn-primary state-btn" data-type="-1">未通过(<span class="state-span"></span>)</button>
    </div>
    <table id="appInfoList" lay-filter="appInfoTable"></table>

    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-xs app-edit" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="interface">接口</a>
        <a class="layui-btn layui-btn-warm layui-btn-xs app-opt" lay-event="opt"></a>
    </script>

</div>

<div th:include="head :: commonjs"></div>
<script th:src="@{/js/product/app/appInfoList.js}"></script>
</body>
</html>