<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('编排接口列表')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/arrangeInfoList.css}">
</head>

<body>
<div class="layui-body" style="margin: 1%">

    <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">编排接口名称</label>
            <div class="layui-input-inline">
                <input id="interfaceName" name="interfaceName" autocomplete="off" class="layui-input" type="text"/>
            </div>
            <!--<label class="layui-form-label app-state">应用状态</label>-->
            <!--<div class="layui-input-inline app-state">-->
            <!--<select name="state" lay-filter="aihao">-->
            <!--<option value="1">已通过</option>-->
            <!--<option value="2">待提交</option>-->
            <!--<option value="-1">未通过</option>-->
            <!--</select>-->
            <!--</div>-->
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="searchSubmit">提交</button>
            <a class="layui-btn layui-btn-sm add-btn" style="float: right;margin-right: 20px;">添加编排接口</a>
        </div>
    </form>

    <!--<hr class="layui-bg-blue"/>-->
    <hr class="layui-bg-gray"/>
    <!--<div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>-->
    <table id="arrangeInfoList" lay-filter="arrangeInfoTable"></table>

    <script type="text/html" id="optBar">
        <a class="layui-btn layui-btn-xs app-edit" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<div id="interfaceDialog" class="layer_self_wrap" style="margin-top: 20px;">
    <form id="arrangeInfoFrom" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;margin-left: 44px;">
        <input class="arrangeInfoId" type="hidden" name="id"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">编排接口名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input param-name" type="text" lay-verify="required" name="interfaceName"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择接口</label>
                <div id="interfaceSelect" class="tree-more" style=" margin-left: 144px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block submit-div">
                <button class="layui-btn addOrEdit" lay-submit="" lay-filter="addOrEdit">提交</button>
                <button type="button"  class="layui-btn layui-btn-primary reset-btn" lay-demo="reload">重置</button>
            </div>
        </div>
    </form>
</div>

<div th:include="head :: commonjs"></div>
<script th:src="@{/js/product/app/arrangeInfoList.js}"></script>
</body>
</html>