<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('日志列表')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/appServiceList.css}">
</head>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">服务名称</label>
                            <div class="layui-input-inline">
                                <input id="serviceName" name="serviceName" autocomplete="off" class="layui-input"
                                       type="text"/>
                            </div>

                            <label class="layui-form-label">调用应用</label>
                            <div class="layui-input-inline">
                                <input id="appName" name="appName" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">serviceKey</label>
                            <div class="layui-input-inline">
                                <input id="serviceKey" name="serviceKey" autocomplete="off" class="layui-input"
                                       type="text"/>
                            </div>

                            <label class="layui-form-label">appKey</label>
                            <div class="layui-input-inline">
                                <input id="appKey" name="appKey" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" autocomplete="off" id="beginTime"
                                       name="beginTime">
                            </div>

                            <label class="layui-form-label">截止时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" autocomplete="off" id="endTime" name="endTime">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="searchSubmit">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div style="margin-right: 8px">
            <table id="receiveLogList" lay-filter="receiveLogTable"></table>
        </div>
    </div>
</div>

<div id="logDialog" class="layer_self_wrap" style="margin-top: 20px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input param-method" disabled>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">请求值</label>
                <div class="layui-input-inline" contenteditable="true">
                    <textarea class="layui-textarea param-params" rows="12" disabled></textarea>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">返回值</label>
                <div class="layui-input-inline">
                    <textarea class="layui-textarea param-remark" rows="12" disabled></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:include="head :: commonjs"></div>
<script th:src="@{/js/receiveLog/receiveLogList.js}"></script>
</body>
</html>