<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>测试</title>
</head>
<body>
     <input type="button" value="查询" class="submit-a"/>
     <p class="idCard"></p>
</body>
<script  th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript">
    var username = "http://123.232.43.174:9000/receive/redirect";
    $('.submit-a').click(function(e){
        console.log("点击")
        $.ajax({
            headers: {
                servicekey: 'BLISHHGKSNU2208',
                appkey:'BLISHHGKSNU1123',
                serviceUrl :'getColumnTypeAppeals.do'
            },
            url:username,
            type:'POST',
            contentType : 'application/json;charset=utf-8',
            data: '{"params": {"startdate": "2018-07-01","endTime":"2018-07-08"}}',
            success:function(data){
                $('.idCard').html(data);
            }
        });
    });
</script>
</html>