<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('注册页')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
<div class="login_box">
    <div class="login_l_img"><img th:src="@{/images/login-img.png}"/></div>
    <div class="login">
        <div class="register_name">
            <p>注册账号</p>
        </div>
        <form id="registerForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <span class="errorMsg"></span>
            <div class="layui-form-item user-div">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input  name="userName" lay-verify="required" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input  name="name" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input  name="password" lay-verify="required" class="layui-input password" type="password" />
                </div>
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input  name="cofirmPwd" lay-verify="cofirmPwd" class="layui-input confirm" type="password"/>
                </div>
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input  name="companyPhone"  class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input  name="email" class="layui-input" type="text"/>
                </div>
               <button class="layui-btn login-btn" type="button" style="margin-left: 58px">返回登陆</button>
               <button class="layui-btn register-btn" lay-submit="" lay-filter="registerUser">注册用户</button>
            </div>
        </form>
    </div>
</div>
<div style="text-align:center;"></div>
<div th:include="head :: commonjs"></div>
<script th:src="@{/js/register.js}"></script>
</body>
</html>
