<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('权限列表')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/permessionList.css}">
</head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <button class="layui-btn add-btn">新增权限</button>
            <button id="btn-fold" class="layui-btn layui-btn-warm">排序</button>
            <table id="munu-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  if(d.parentId == 0 ){ }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="child">子节点</a>
    {{#  } }}
</script>

<div id="permChild" class="layer_self_wrap">
    <form id="permChildForm" class="layui-form layui-form-pane" method="post" action=""
          style="margin-top: 20px;margin-left: 44px;">
        <input class="parentId" type="hidden" name="parentId"/>
        <input class="id" type="hidden" name="id"/>
        <div class="layui-form-item parent-div" style="display: none">
            <div class="layui-inline">
                <label class="layui-form-label">上级权限名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input parentName" type="text" disabled/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input name" type="text" name="name" lay-verify="required"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限编号</label>
                <div class="layui-input-inline">
                    <input class="layui-input code" type="text" name="code"
                           lay-verify="required"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限地址</label>
                <div class="layui-input-inline">
                    <input class="layui-input url" type="text" name="url"
                           lay-verify="required"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block submit-div">
                <button class="layui-btn" lay-submit="" lay-filter="permSubmit">提交</button>
                <button type="button" class="layui-btn layui-btn-primary reset-btn">重置</button>
            </div>
        </div>
    </form>
</div>
<div th:include="head :: commonjs"></div>
<script th:src="@{/js/lay-config.js?v=1.0.4}"></script>
<script th:src="@{/js/user/permList.js}"></script>
</body>
</html>