<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('角色列表')"></head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-btn-group">
            <button class="layui-btn add-btn">添加角色</button>
        </div>
        <table id="roleList" lay-filter="roleTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="opt" data-type="1">删除</a>
        </script>
    </div>
</div>

<div th:include="head :: commonjs"></div>
<script th:src="@{/js/user/roleList.js}"></script>
</body>
</html>