<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('角色详情')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/roleInfo.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="strong">
        <i class="layui-icon layui-icon-edit"></i>
        <span class="header-title"><b>更新角色</b></span>
     </div>
  </div>

  <div class="layui-body">
    <form id="updateForm" class="layui-form layui-form-pane" action="=" method="post">
                <input id="roleId" type="hidden" name="id" th:value="${roleId}"/>
                <input class="permissions" type="hidden" name="permissions"/>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">角色编号：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input roleCode" type="text" name="roleCode" lay-verify="required"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">角色名称：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input roleName" type="text" name="roleName"
                                   lay-verify="required"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">角色描述：</label>
                        <div class="layui-input-inline">
                          <input class="layui-input introduction" type="text" name="introduction"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">权限：</label>
                        <input type="checkbox" class="check-all" lay-filter="check-all"  lay-skin="primary" title="全选" ><br>
                        <div class="layui-input-inline" id="permDiv">
                         </div>
                    </div>
                </div>

                <div class="layui-form-item ">
                    <div class="layui-input-block update-operation">
                        <button class="layui-btn" lay-submit="" lay-filter="addOrEdit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" onclick="return resetForm();">重置</button>
                    </div>
                </div>
            </form>
  </div>

  <div class="layui-footer">
    <button class="layui-btn layui-btn-sm back-btn" onclick="javascript:history.back(-1);">返回</button>
  </div>
</div>
<div th:include="head :: commonjs"></div>
<script th:src="@{/js/user/roleInfo.js}"></script>
 <script type="text/javascript">
         function resetForm() {
             return confirm("您确定要重置表单内容么?");
         }
    </script>
</body>
</html>