<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cyber.dao.PermissionMapper" >
  <!--<cache eviction="FIFO"-->
          <!--flushInterval="10800000"  size="512"-->
          <!--readOnly="true"-->
  <!--/>-->
  <resultMap id="BaseResultMap" type="cn.com.cyber.model.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

    <collection property="parentPerm" ofType="cn.com.cyber.model.Permission" column="parent_id">
      <result column="pid" property="id" jdbcType="VARCHAR" />
      <result column="parent_name" property="name" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, parent_id, url, state, type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from se_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from se_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="cn.com.cyber.model.Permission" >
    insert into se_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.cyber.model.Permission" >
    update se_permission
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="sql_where" >
    <where >
      and state = 1
      <if test="name != null and name !=''" >
         and name = #{name}
      </if>
      <if test="code != null and code !=''" >
         and code = #{code}
      </if>
      <if test="parentId != null" >
         and parent_id = #{parentId}
      </if>
      <if test="url != null and url !=''" >
         and url = #{url}
      </if>
      <if test="type != null" >
         and type = #{type}
      </if>
    </where>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="cn.com.cyber.model.Permission" >
     select * from se_permission
    <include refid="sql_where" />
    order by id
  </select>

  <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from se_permission
    where parent_id = #{parentId}
  </select>

  <select id="selectBySelf" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT t.*,tp.id pid,tp.name parent_name
    FROM se_permission t left JOIN se_permission tp
    on tp.id=t.parent_id where t.id=#{id}
  </select>

  <select id="getMaxChildId" resultType="long" parameterType="long" >
    SELECT IFNULL((SELECT max(id) FROM se_permission WHERE parent_id = #{parentId}),0) id from dual
  </select>

  <delete id="delPermission"  parameterType="map">
      DELETE FROM se_permission WHERE id = #{id}
      <if test="parentId != null and parentId == '0'.toString()">
        or parent_id = #{id}
      </if>
  </delete>

  <select id="getPermByRoleId" resultType="string" parameterType="int">
      SELECT sr.permissions
      FROM  se_role sr
      WHERE  sr.id = #{roleId}
  </select>

  <select id="getPermByCode" resultMap="BaseResultMap">
      SELECT *  FROM se_permission sp
      WHERE sp.code in
    <foreach collection="codes" item="code" index="index" open="(" close=")" separator=",">
      #{code}
    </foreach>
    and state = 1
    order by sp.id
  </select>

  <resultMap id="PermModelMap"  type="cn.com.cyber.model.PermModel">
    <result property="id" column="id"/>
    <result property="title" column="name" />
    <collection property="child" ofType="cn.com.cyber.model.PermModel" javaType="list">
      <result property="id" column="sp_id"/>
      <result property="title" column="sp_name" />
      <result property="href" column="url" />
      <result property="icon" column="icon" />
    </collection>
  </resultMap>

  <select id="getPermValidByCode" resultMap="PermModelMap">
    SELECT  sc.id , sc.name, sp.id sp_id, sp.name sp_name, sp.url  FROM
     (select * from se_permission
      WHERE code in
      <foreach collection="codes" item="code" index="index" open="(" close=")" separator=",">
        #{code}
      </foreach>
    ) sp
    join se_permission sc on sp.parent_id=sc.id
    order by sp.id,sc.id
  </select>
</mapper>