<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cyber.dao.ReceiveLogMapper">
    <resultMap id="BaseResultMap" type="cn.com.cyber.model.ReceiveLog">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="service_key" property="serviceKey" jdbcType="VARCHAR"/>
        <result column="request_time" property="requestTime" jdbcType="TIMESTAMP"/>
        <result column="response_time" property="responseTime" jdbcType="TIMESTAMP"/>
        <result column="response_code" property="responseCode" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="service_name" property="serviceName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, app_key, service_key, request_time, response_time, response_code, remark
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from se_receive_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from se_receive_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertReceiveLog" parameterType="cn.com.cyber.model.ReceiveLog">
        insert into se_receive_log( app_key, service_key, request_time, response_time, response_code
        <if test="remark != null">
            ,remark
        </if>
        )
        values( #{appKey},#{serviceKey},#{requestTime},#{responseTime},#{responseCode}
        <if test="remark != null">
            ,#{remark}
        </if>
        )
    </insert>
    <update id="updateReceiveLog" parameterType="cn.com.cyber.model.ReceiveLog">
        update se_receive_log
        <set>
            <if test="appKey != null">
                app_key = #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="serviceKey != null">
                service_key = #{serviceKey,jdbcType=VARCHAR},
            </if>
            <if test="requestTime != null">
                request_time = #{requestTime,jdbcType=TIMESTAMP},
            </if>
            <if test="responseTime != null">
                response_time = #{responseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="responseCode != null">
                response_code = #{responseCode,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="sql_where">
        <where>
            <if test="companyId != null">
                ai.company_id= #{companyId}
            </if>
            <if test="appName != null and appName !=''" >
                <bind name="appNameSec" value=" '%' + appName + '%' "/>
                and ai.name like #{appNameSec}
            </if>
            <if test="serviceName != null and serviceName !=''">
                <bind name="serviceNameSec" value=" '%' + serviceName + '%' "/>
                and ais.service_name like #{serviceNameSec}
            </if>
            <if test="appKey != null and appKey !=''">
                and rl.app_key = #{appKey,jdbcType=VARCHAR}
            </if>
            <if test="serviceKey != null and serviceKey !=''">
                and rl.service_key = #{serviceKey,jdbcType=VARCHAR}
            </if>
            <if test="beginTime != null and beginTime != ''">
                and rl.request_time &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="endTime != null and endTime != ''">
                and rl.request_time &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="responseCode != null">
                and rl.response_code = #{responseCode,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <select id="getReceiveLogList" resultMap="BaseResultMap" parameterType="cn.com.cyber.model.ReceiveLog">
        SELECT rl.*, ai.name app_name, ais.service_name, ais.url_suffix url
        FROM se_receive_log rl
        LEFT JOIN td_app ai ON rl.app_key = ai.app_uuid
        LEFT JOIN td_company tc on tc.id = ai.company_id
        LEFT JOIN se_service_info ais ON rl.service_key = ais.service_key
        <include refid="sql_where"/>
        order by rl.response_time desc
    </select>

    <select id="getReceiveLogCount" resultType="int">
        select count(rl.id)  from se_receive_log rl
        LEFT JOIN td_app ai ON rl.app_key = ai.app_uuid
        LEFT JOIN td_company tc on tc.id = ai.company_id
        LEFT JOIN se_service_info ais ON rl.service_key = ais.service_key
        <include refid="sql_where"/>
    </select>

    <select id="getReceiveLogRanking" resultType="int" parameterType="map">
        select ifnull(e.receive_num,0) receive_num from
        (
        <foreach collection="dateList" item="item" index="index" separator="UNION ALL">
            SELECT #{item} dt FROM DUAL
        </foreach>
        ) d
        left join
        (
        SELECT count(slo.id) receive_num,slo.dt from (
        select t.id ,STR_TO_DATE(t.request_time, '%Y-%m-%d') dt
        from SE_RECEIVE_LOG t
        where t.request_time
        between STR_TO_DATE(#{startTime}, '%Y-%m-%d') and STR_TO_DATE(#{endTime}, '%Y-%m-%d')+1
        <if test="code == 1">
            and t.response_code = 200
        </if>
        <if test="code == 2">
            and t.response_code != 200
        </if>
        ) slo
        group by slo.dt
        ) e
        on d.dt=e.dt order by d.dt
    </select>
</mapper>