<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('民生应用')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/appServiceList.css}">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>应用管理列表</legend>
            <div style="margin: 10px -3px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">应用名称</label>
                            <div class="layui-input-inline">
                                <input id="appName" name="appName" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">appKey</label>
                            <div class="layui-input-inline">
                                <input id="appKey"  name="appKey" autocomplete="off" class="layui-input" type="text" >
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">应用状态</label>
                            <div class="layui-input-inline">
                                <select name="state" class="state">
                                    <option value="">请选择</option>
                                    <option value="1" selected>已通过</option>
                                    <option value="0">待审核</option>
                                    <option value="2">未通过</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="searchSubmit">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div class="layui-btn-group">
            <button type="button" class="layui-btn add-btn">添加</button>
        </div>

        <table id="appInfoList" lay-filter="appInfoTable"></table>
    </div>
</div>

<div id="appInfoDialog" class="layer_self_wrap" style="margin-top: 20px;">
    <form id="appInfoInfoFrom" class="layui-form  layui-form-pane" lay-filter="appInfoInfoFrom"
          style="margin-top: 20px;margin-left: 44px;">
        <input class="param-id"  name="id" type="hidden"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应用名称：</label>
                <div class="layui-input-inline ">
                    <input class="layui-input" name="appName" type="text" lay-verify="required"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item form-edit">
            <div class="layui-inline">
                <label class="layui-form-label">应用密钥：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="appKey" type="text" disabled/>
                </div>
            </div>
        </div>

        <div class="layui-form-item form-edit">
            <div class="layui-inline">
                <label class="layui-form-label">创建时间：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="createTimeStr" type="text" disabled/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">应用描述：</label>
            <div class="layui-input-inline">
                <textarea placeholder="请输入内容" class="layui-textarea" name="description"></textarea>
            </div>
        </div>

        <div class="layui-form-item  submit-div">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal submit-apply" lay-submit="" lay-filter="addOrEdit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary param-reset-btn">重置</button>
            </div>
        </div>
    </form>
</div>

<div th:include="head :: commonjs"></div>
<script th:src="@{/js/peoples/peoples.js}"></script>
</body>
</html>