<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::commonHeader('应用服务列表')"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/module/appServiceList.css}">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <legend>应用服务列表</legend>
            <div style="margin: 10px -3px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">应用名称</label>
                            <div class="layui-input-inline">
                                <input name="appName" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">服务名称</label>
                            <div class="layui-input-inline">
                                <input name="serviceName" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">服务状态</label>
                            <div class="layui-input-inline">
                                <select name="state" class="state">
                                    <option value="">请选择</option>
                                    <option value="1" selected>已通过</option>
                                    <option value="0">待审核</option>
                                    <option value="2">未通过</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">appKey</label>
                            <div class="layui-input-inline">
                                <input name="appKey" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">serviceKey</label>
                            <div class="layui-input-inline">
                                <input name="serviceKey" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm rest-btn">重置</button>
                            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="searchSubmit">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <button type="button" class="layui-btn" id="upFile" style="display: none"></button>
        <table id="appServiceList" lay-filter="appServiceTable" lay-data="{id: 'appServiceTable'}"
               lay-size="sm"></table>
    </div>
</div>

<div id="serviceDialog" class="layer_self_wrap" style="margin-top: 20px;">
    <form id="serviceInfoFrom" class="layui-form layui-form-pane" lay-filter="serviceInfoFrom"
          style="margin-top: 20px;margin-left: 44px;">
        <input class="param-id" name="id" type="hidden"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属应用：</label>
                <div class="layui-input-inline ">
                    <input class="layui-input param-appName" type="text" disabled="disabled"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">服务名称：</label>
                <div class="layui-input-inline">
                    <input class="layui-input param-serviceName" name="serviceName" type="text" lay-verify="required"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">服务权限：</label>
            <div class="layui-input-inline">
                <input type="radio" name="isOpen" value="1" title="私有" checked="" lay-verify="required">
                <input type="radio" name="isOpen" value="0" title="公开" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item" th:if="${push_area != '3'}">
            <label class="layui-form-label">发布区域：</label>
            <div class="layui-input-block">
                <input type="radio" name="pushArea" value="2" title="二类" lay-verify="required">
                <input type="radio" name="pushArea" value="3" title="三类" checked="" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">应用密钥：</label>
                <div class="layui-input-inline">
                    <input class="layui-input param-appKey" type="text" disabled/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">服务密钥：</label>
                <div class="layui-input-inline">
                    <input class="layui-input param-serviceKey" type="text" disabled/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">请求地址：</label>
            <div class="layui-input-inline">
                <input name="urlSuffix" type="text" class="layui-input param-urlSuffix" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求方式：</label>
            <div class="layui-input-inline">
                <select name="method" lay-filter="method" class="param-method" lay-verify="required">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">编码格式：</label>
            <div class="layui-input-inline">
                <select name="contentType" lay-filter="contentType" class="param-contentType">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">编码规则：</label>
            <div class="layui-input-inline">
                <select name="serviceRule" lay-filter="serviceRule" class="serviceRule">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资源类型：</label>
            <div class="layui-input-inline">
                <select name="sourceType" lay-filter="sourceType" class="sourceType">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">服务描述：</label>
            <div class="layui-input-inline">
                <textarea placeholder="请输入内容" class="layui-textarea param-introduce" name="introduce"></textarea>
            </div>
        </div>

        <div class="layui-form-item  submit-div">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal submit-apply" lay-submit="" lay-filter="addOrEdit"
                        data-type="0" style="display: none">提交
                </button>
                <button class="layui-btn" lay-submit="" lay-filter="addOrEdit" data-type="1">保存</button>
                <button type="button" class="layui-btn layui-btn-primary close-btn">取消</button>
            </div>
        </div>
    </form>
</div>
<div th:include="head :: commonjs"></div>
<script th:src="@{/js/appInfo/appServiceList.js}"></script>
</body>
</html>