<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cyber.dao.AppDetailsMapper" >
  <resultMap id="BaseResultMap" type="cn.com.cyber.model.AppDetails" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="url_suffix" property="urlSuffix" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="content_type" property="contentType" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, app_id, url_suffix, method, content_type, state, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_details
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="cn.com.cyber.model.AppDetails" >
    insert into app_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="urlSuffix != null" >
        url_suffix,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="urlSuffix != null" >
        #{urlSuffix,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.cyber.model.AppDetails" >
    update app_details
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="urlSuffix != null" >
        url_suffix = #{urlSuffix,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="sql_where" >
    <where >
      <if test="id != null" >
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null and name !=''" >
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="appId != null" >
         and app_id = #{appId,jdbcType=BIGINT}
      </if>
      <if test="urlSuffix != null and urlSuffix !=''" >
         and url_suffix = #{urlSuffix,jdbcType=VARCHAR}
      </if>
      <if test="method != null and method !=''" >
         and method = #{method,jdbcType=VARCHAR}
      </if>
      <if test="contentType != null and contentType !=''" >
         and content_type = #{contentType,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
         and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="cn.com.cyber.model.AppDetails" >
     select * from app_details
    <include refid="sql_where" />
  </select>
</mapper>