<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cyber.dao.AppInfoMapper">
    <resultMap id="BaseResultMap" type="AppInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="url_prefix" property="urlPrefix" jdbcType="VARCHAR"/>
        <result column="service_key" property="serviceKey" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, app_key, app_name, url_prefix, service_key, state, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from app_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="AppInfo">
        insert into app_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appKey != null">
                app_key,
            </if>
            <if test="appName != null">
                app_name,
            </if>
            <if test="urlPrefix != null">
                url_prefix,
            </if>
            <if test="serviceKey != null">
                service_key,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="appKey != null">
                #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="urlPrefix != null">
                #{urlPrefix,jdbcType=VARCHAR},
            </if>
            <if test="serviceKey != null">
                #{serviceKey,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="AppInfo">
        update app_info
        <set>
            <if test="appKey != null">
                app_key = #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="appName != null">
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="urlPrefix != null">
                url_prefix = #{urlPrefix,jdbcType=VARCHAR},
            </if>
            <if test="serviceKey != null">
                service_key = #{serviceKey,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="sql_where">
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="appKey != null and appKey !=''">
                and app_key = #{appKey,jdbcType=VARCHAR}
            </if>
            <if test="appName != null and appName !=''">
                and app_name = #{appName,jdbcType=VARCHAR}
            </if>
            <if test="urlPrefix != null and urlPrefix !=''">
                and url_prefix = #{urlPrefix,jdbcType=VARCHAR}
            </if>
            <if test="serviceKey != null and serviceKey !=''">
                and service_key = #{serviceKey,jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                and state = #{state,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="getList" resultMap="BaseResultMap" parameterType="AppInfo">
        select * from app_info
        <include refid="sql_where"/>
    </select>

    <select id="selectByAppAndService" resultMap="BaseResultMap" parameterType="map">
        select * from app_info where app_key = #{appKey} and service_key = #{serviceKey}
    </select>

    <select id="selectAppModel" resultType="AppModel" parameterType="map">
      SELECT
        info.url_prefix urlPrefix,
        details.url_suffix urlSuffix,
        details.method method,
        details.content_type contentType
      FROM
        app_info info,app_details details
     WHERE
	    info.id = details.app_id
	 AND details.url_suffix = #{urlSuffix} AND details.app_id=#{appId};
    </select>
</mapper>