<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cyber.dao.logInvokInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.cyber.model.logInvokInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="BIGINT" />
    <result column="request_url" property="requestUrl" jdbcType="VARCHAR" />
    <result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="response_time" property="responseTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_id, request_url, request_time, response_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from log_invok_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from log_invok_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="cn.com.cyber.model.logInvokInfo" >
    insert into log_invok_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="requestUrl != null" >
        request_url,
      </if>
      <if test="requestTime != null" >
        request_time,
      </if>
      <if test="responseTime != null" >
        response_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="requestUrl != null" >
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        #{responseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.cyber.model.logInvokInfo" >
    update log_invok_info
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="requestUrl != null" >
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        response_time = #{responseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="sql_where" >
    <where >
      <if test="id != null" >
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="appId != null" >
         and app_id = #{appId,jdbcType=BIGINT}
      </if>
      <if test="requestUrl != null and requestUrl !=''" >
         and request_url = #{requestUrl,jdbcType=VARCHAR}
      </if>
      <if test="requestTime != null" >
         and request_time = #{requestTime,jdbcType=TIMESTAMP}
      </if>
      <if test="responseTime != null" >
         and response_time = #{responseTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="cn.com.cyber.model.logInvokInfo" >
     select * from log_invok_info
    <include refid="sql_where" />
  </select>
</mapper>